body{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/papyrus.png');
}

header{
    background-color: white;
    overflow: auto;
    width: 100%;
    border-bottom: 2px solid grey;
}

.headerName{
    Background-color: #4aaaa5;
    color: white;
    width: 250px;
    height: 35px;
    margin-left: 325px;
    margin-bottom: 0;
    float: left;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buttons{
    float: right;
    margin-right: 235px;
    margin-top: 40px;
}

a, p{
    color: #777777;
}

a:link{
    color: grey;
    text-decoration: none;
}

a:hover{
    color: teal;
}

.mainContent{
    background-color: red;
    height: 500px;
    width: 960px;
    margin-left: 325px;
    margin-top: 30px;
}

.mainBody{
    background-color: orange;
    margin-left: 0px;
    width: 960px;
    overflow: auto;
}
.bodyHeader{
    border-bottom: 6px solid purple;
    border-radius: 5px;
    color: #4aaaa5;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pictureCat{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
}

.footer{
    background-color: rgb(255, 0, 200);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 8px solid #4aaaa5;
}

.footerCopy{
    margin-top: 40px;
    margin-bottom: 0;
}